Repository SnO2WMaN/gitmoji-preset: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write

👷 Test on Github Action
  .github/workflows/node-ci.yml
Due: none

👷 Fix action
  .github/workflows/node-ci.yml
Due: none

📄 Attach license
  LICENSE
Due: none

📖 Attach readme
  README.md
Due: none

📖 Add list on readme
  .lintstagedrc
  README.md
  forMarkdown.js
  package.json
Due: prettier-package-json --write, prettier --write

✨ Add gitmojis for more specific purposes
  index.json
Due: prettier --write

📖 Update readme
  .lintstagedrc
  README.md
Due: none

📖 Update readme
  README.md
Due: none

⏪ Revert 4d031a3
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

👷 Setup renovat bot
  renovate.json
Due: none

Add renovate.json
  renovate.json
Due: none

🔧 Set npm registry url
  package.json
Due: prettier-package-json --write, prettier --write

🔖 1.0.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

📖 Add keywords on package.json
  package.json
Due: prettier-package-json --write, prettier --write

💵 Attach FUNDING.yml
  .github/FUNDING.yml
Due: none

🔧 Update .lintstagedrc
  .lintstagedrc
Due: none

🔖 1.0.1
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

✨ List up all gitmojis on README.md
  forMarkdown.js
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

📖 Add gitmojis list
  README.md
  list.js
Due: none

🔧 Configure npm version script
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Lock file maintenance
  package-lock.json
Due: none

➕ Add gitmoji-preset-dependencies
  index.js
  index.json
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

🐛 Fix typo on npm version script
  package.json
Due: prettier-package-json --write, prettier --write

🔖 1.0.2
  README.md
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: (any of: package.json) or (any of: *[!package].json)
